/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --header-text-color: #f1b2ce;
  --button-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --header-block-color: #ff0070;
  --border-color: #ff0070;
  --rec: #ff0070;
  --bg-color: #ff0070;
  --background-color: #000028;
  --text-color: #000028;
  --header-color: #db00ff;
  --footer-color: #db00ff;
  --shadow-color: #ff0070;
  --link-color: #ff0070;
  --link-style-color: #f1b2ce;
}
