/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  background-image: url(./images/cover-image-dark.png);
  --header-text-color: #F1B2CE;
  --button-color: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.40);
  --font-family: 'IBM Plex Mono';
  --header_left-color: #FF0070;
  --border-color: #FF0070;
  --rec: #FF0070;
  --font-size: 18px;
  --bg-color: #FF0070;
  --background-color: #000028;
  --text-color: #000028;
  --header-color: #db00ff;
  --footer-color: #db00ff;
  --shadow-color: #ff0070;
}

