/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
--bg-image:url(../images/cover-image-dark.png);
--header-text-color: #F1B2CE;
--button-color: #FF0070;
--hover-color: rgba(255, 0, 112, 0.40);
--font-family: 'IBM Plex Mono', Arial, sans-serif;
--header-block-color: #FF0070;
--border-color: #FF0070;
--rec: #FF0070;
--font-size: 18px;
--bg-color: #FF0070;
--background-color: #000028;
--text-color: #000028;
--header-color: #db00ff;
--footer-color: #db00ff;
--shadow-color: #ff0070;
--line-height: line-height: 24px;
}

