/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --header-text-color: #f1b2ce;
  --button-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --font-family: "IBM Plex Mono", Arial, monospace;
  --header-block-color: #ff0070;
  --border-color: #ff0070;
  --rec: #ff0070;
  --font-size: 18px;
  --bg-color: #ff0070;
  --background-color: #000028;
  --text-color: #000028;
  --header-color: #db00ff;
  --footer-color: #db00ff;
  --shadow-color: #ff0070;
  --line-height: 24px;
  --link-color: #ff0070;
  --link-style-color: #f1b2ce;
}
